<div class="text-center offset-md-3 col-md-6">
    <div class="container-fluid col-md-9">
        <form class="form-signin mt-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-4 font-weight-normal">Register Yourself !</h1>

            <div class="form-group">
                <label for="usrname" class="sr-only">Username</label>
                <input type="text" id="usrname" class="form-control" formControlName="username" placeholder="Username">
                <p *ngIf="(registerForm.controls.username.dirty || registerForm.controls.username.touched) && this.registerForm.controls.username.errors" class="text-danger">
                    {{ usernameerrormsg }}</p>
            </div>

            <div class="form-group">
                <label for="name" class="sr-only mt-1">Email address</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
                <p *ngIf="(registerForm.controls.name.dirty || registerForm.controls.name.touched) && this.registerForm.controls.name.errors" class="text-danger">
                    {{ nameerrormsg }}</p>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="sr-only mt-1">Email address</label>
                <input type="email" id="inputEmail" class="form-control" formControlName="emailId"
                    placeholder="Email address">
                <p *ngIf="(registerForm.controls.emailId.dirty || registerForm.controls.emailId.touched) && this.registerForm.controls.emailId.errors" class="text-danger">
                    {{ emailerrormsg }}</p>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="sr-only mt-1">Password</label>
                <input type="password" id="inputPassword" class="form-control" formControlName="password"
                    placeholder="Password">
                <p *ngIf="(registerForm.controls.password.dirty || registerForm.controls.password.touched) && this.registerForm.controls.password.errors" class="text-danger">
                    {{ passworderrormsg }}</p>
            </div>

            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit"
                [disabled]="!registerForm.valid">Register</button>
        </form>
    </div>
</div>