<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark text-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom border-dark border-top border-white">People Online</div>
        <div class="list-group list-group-flush" *ngFor="let ppl of allLoggedUsers">
            <p class="list-group-item list-group-item-action bg-light text-dark">{{ ppl.username }}</p>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <h1 class="mt-4 text-center">Welcome to CHAT ROOM</h1>
            <p class="text-right">Hello, {{ loggedUser }}</p>
            <div class="messages">
                <p class="msg">
                    <i class="usr">User1</i> <br /> Message1
                </p>
                <p class="msg">
                    <i class="usr">User2</i> <br /> Message2
                </p>
                <p class="msg" *ngFor="let message of chatArr" [ngClass]="{ ownMessage: message.username === loggedUser }">
                    <i class="usr">{{ message.username }}</i> <br /> {{ message.msg }}
                </p>
            </div>
            <br /><br /><br />
            <div class="container-fluid mb-2" id="texting">
                <div class="input-group">
                    <input type="text" class="form-control" (keyup)="sendMessageOnEnter($event, chatText.value)" id="chatText" #chatText required />
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="onSubmit(chatText.value)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>