#sidebar-wrapper {
    min-height: 91vh;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 81vw;
}

#texting {
    padding-right: 0px;
    padding-left: 0px;
}

.messages {
    overflow-y: scroll !important;
    max-height: 50vh;
    border: 1px solid lightgray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.msg {
    font-size: medium;
    background-color: lightgray;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 7px;
}

.usr {
    color: chocolate;
}

.ownMessage {
    background-color: lightblue;
    align-self: flex-end !important;
}

#ppl {
    background-color: #C2DFFF !important;
}