<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-primary text-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom border-dark border-top border-white">People Online</div>
        <div class="list-group list-group-flush" *ngFor="let ppl of allLoggedUsers">
            <p id="ppl" class="list-group-item list-group-item-action text-dark">{{ ppl.username }}</p>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <h1 class="mt-4 text-center">Welcome to CHAT ROOM</h1>
            <p class="text-right">Hello, {{ loggedUser }} <button type="button" class="btn btn-link" (click)="logOut()">&#60;Logout&#62;</button></p>
            <ul class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <li class="msg" *ngFor="let message of chatArr" [ngClass]="{ ownMessage: message.username === loggedUser }">
                    <i class="usr">{{ message.username }}</i> <br /> {{ message.msg }}
                </li>
            </ul>
            <br /><br /><br />
            <div class="container-fluid mb-2" id="texting">
                <div class="input-group">
                    <input type="text" class="form-control" (keydown.enter)="sendMessageOnEnter(chatText.value);false;chatText.value='';" id="chatText" #chatText required />
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="onSubmit(chatText.value);chatText.value='';"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>