#sidebar-wrapper {
    height: 91vh;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 81vw;
}

#texting {
    padding-right: 0px;
    padding-left: 0px;
}

.messages {
    overflow-y: scroll !important;
    list-style-type: none;
    width: 100%;
    max-height: 50vh;
    border: 1px solid lightgray;
    margin: 0px !important;
	padding: 5px !important;
}

.msg {
    font-size: medium;
    background-color: lightgray;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 7px;
    clear: both;
	text-decoration: none;
    list-style-type: none;
    float: left;
    min-height: 10px;
    line-height: 1.4;
	word-wrap: break-word;
}

.usr {
    color: chocolate;
}

.ownMessage {
    background-color: lightblue;
    float: right !important;
	text-align: right;
}

#ppl {
    background-color: #C2DFFF !important;
}

.input-group {
    padding: 0;
}

#para {
    padding: 0;
}

#butn {
    padding-right: 0;
}