<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-primary text-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom border-dark border-top border-white">People Online</div>
        <div class="list-group list-group-flush" *ngFor="let ppl of allLoggedUsers">
            <p id="ppl" class="list-group-item list-group-item-action text-dark">{{ ppl.username }}</p>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="row mx-auto">
                <h1 class="mt-4 col mx-auto text-center">Welcome to CHAT ROOM</h1>
            </div>
            <div class="row mx-auto justify-content-end">
                <p id="para" class="text-right col">Hello, {{ loggedUser }} <button type="button" id="butn" class="btn btn-link"
                        (click)="logOut()">&#60;Logout&#62;</button></p>
            </div>
            <div class="row mx-auto">
                <ul class="messages col" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <li class="msg" *ngFor="let message of chatArr"
                        [ngClass]="{ ownMessage: message.username === loggedUser }">
                        <i class="usr">{{ message.username }}</i> <br /> {{ message.msg }}
                    </li>
                </ul>
            </div>
            <div class="row mx-auto"><br /><br /></div>
            <div class="row mx-auto mb-2" id="texting">
                <div class="input-group col">
                    <input type="text" class="form-control"
                        (keydown.enter)="sendMessageOnEnter(chatText.value);false;chatText.value='';" id="chatText"
                        #chatText required />
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="onSubmit(chatText.value);chatText.value='';"><i
                                class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>